body{
    background-color: rgb(216, 150, 69);
}

h1 {
    text-align: center;
}
h1{
    color: rgb(23, 23, 26);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
h1{
    color: rgb(71, 36, 56);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
   
.imagenes{
    text-align: center;
}